---
// Import NavBarItem component
import NavBarItem from "./NavBarItem.astro";
import SidebarItem from "./SidebarItem.astro";
const currentPath = Astro.url.pathname;
---

<nav class="w-full bg-red-900 py-4 px-6 fixed top-0 shadow-lg z-10">
    <div class="max-w-7xl mx-auto flex justify-between items-center">
        <a href="/">
            <div
                class="text-yellow-400 font-bold font-teko text-4xl uppercase tracking-widest"
            >
                Soviet Linux
            </div>
        </a>

        <div class="hidden md:flex space-x-6">
            <NavBarItem href="/" text="Home" />
            <NavBarItem href="/docs" text="Docs" />
            <NavBarItem
                href="https://github.com/Soviet-Linux"
                text="GitHub"
                target="_blank"
            />
            <NavBarItem
                href="https://matrix.to/#/#sovietlinux:nope.chat"
                text="Matrix"
                target="_blank"
            />
            <NavBarItem
                href="https://github.com/Soviet-Linux/OUR"
                text="Repo"
                target="_blank"
            />
        </div>

        <!-- Mobile Menu Toggle Button -->
        <button
            id="toggleDrawer"
            class="md:hidden text-yellow-400 focus:outline-none"
            aria-label="Toggle Menu"
        >
            ☰
        </button>
    </div>
</nav>

<!-- Mobile Drawer -->
<div
    id="drawer"
    class="drawer fixed top-0 left-0 w-full bg-red-700 text-yellow-400 shadow-lg transform -translate-y-full z-20 p-4"
>
    <div class="p-4">
        <h2 class="text-2xl font-bold uppercase">Menu</h2>
        <div class="flex flex-col space-y-2">
            <NavBarItem href="/" text="Home" />
            <NavBarItem href="/docs" text="Docs" />
            <div class="md:hidden block">
                
                <SidebarItem
                    href="/docs/"
                    title="Getting Started"
                    currentPath={currentPath}
                    />
                <SidebarItem
                    href="/docs/installation"
                    title="Installation"
                    currentPath={currentPath}
                    />
                <SidebarItem
                    href="/docs/CCCP"
                    title="CCCP"
                    currentPath={currentPath}
                    />
                <SidebarItem
                    href="/docs/software"
                    title="Software"
                    currentPath={currentPath}
                    />
                <SidebarItem
                    href="/docs/contributing"
                    title="Contributing"
                    currentPath={currentPath}
                    />
            </div>
            <NavBarItem
                href="https://github.com/Soviet-Linux"
                text="GitHub"
                target="_blank"
            />
            <NavBarItem
                href="https://matrix.to/#/#sovietlinux:nope.chat"
                text="Matrix"
                target="_blank"
            />
            <NavBarItem
                href="https://github.com/Soviet-Linux/OUR"
                text="Repo"
                target="_blank"
            />
        </div>
        <button
            id="closeDrawer"
            class="mt-4 bg-red-600 text-white py-2 px-4 rounded"
        >
            Close
        </button>
    </div>
</div>

<script>
    const toggleDrawer = document.getElementById("toggleDrawer");
    const drawer = document.getElementById("drawer");
    const closeDrawer = document.getElementById("closeDrawer");

    toggleDrawer.addEventListener("click", () => {
        drawer.classList.toggle("-translate-y-full");
    });

    closeDrawer.addEventListener("click", () => {
        drawer.classList.add("-translate-y-full");
    });
</script>
